<h1 class="intro__title"><%= _("Get answers from EU Institutions") %></h1>
<p class="intro__description">
  <%= _("AskTheEU.org is an online platform for citizens to send access to documents requests directly to EU institutions.") %>
</p>
