<% @title = site_name %>

<div class="page__header">
  <h1 class="page__header__title">NEWS & CAMPAIGNS</h1>
  <h2 class="page__header__subtitle">SUPPORT THE CAMPAIGNS</h2>
</div>

<div id="main_content">

  <div id="blog">
    <% @blog_items.in_groups_of(4, false) do |group| %>
      <div class="blog__container">
        <% group.each do |item| %>
          <div class="blog__item">
            <% if item['thumbnail'] %>
              <%= link_to item['link'][0] do %>
                <img <%= item['thumbnail'][0].to_s.html_safe %> width="224" height="134">
              <% end %>
            <% end %>

            <h3><%= link_to item['title'][0], item['link'][0] %></h3>
            <p><%= h excerpt(item['description'][0].to_s, "", :radius => 198) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
