$main_menu-mobile_menu_cutoff: 58em;
$row-width: 64em;
$body-font-family: "Helvetica Neue", Arial, Helvetica, Helmet, Freesans, sans-serif;
$form-label-font-color: #333333;
$base-font-size: 16px;

// Specify the filename and dimensions of your logo file here
$logo-filename: 'logo.png';
$logo-highdpi-filename: 'logo@2.png'; //Should be at least 2x the size, in the same proportions
$logo-width: 208px;
$logo-height: 95px;

$color_black: #333333;
$color_white: #ffffff;
$color_sand: #f3f1eb;

$color_green: #62b356;
$color_orange: #f4a140;
$color_red: #e04b4b;

$color_asktheeu_green: #7BBB58;
$color_asktheeu_palegreen: #E2EBE1;
$color_asktheeu_blue: #009A9D;
$color_asktheeu_paleblue: #F2FCF6;
$color_asktheeu_yellow: #DDDE3A;
$color_asktheeu_paleyellow: #FCFAF2;
$color_asktheeu_darkgrey: #4A4A4A;

$color_neutral_light: $color_sand;
$color_neutral_dark: $color_black;
$color_primary: $color_asktheeu_green;
$color_secondary: $color_asktheeu_blue;

$body-bg: $color_white;

$body-font-color: $color_neutral_dark;
$link-color: $color_asktheeu_blue;
$notice-color: $color_asktheeu_green;
$error-color: $color_red;
$action-color: $color_asktheeu_yellow;
$font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$form_input-bg: $color_white;

$button-bg: $color_asktheeu_green;
$button-color: $color_white;

$status-success: $color_green;
$status-failure: $color_red;
$status-pending: $color_orange;

$banner_inner_bg: $color_asktheeu_palegreen;
$topnav_bg: $color_asktheeu_green;

