<% @title = "About" %>
<div class="page__header">
  <h1 class="page__header__title">ABOUT</h1>
  <h2 class="page__header__subtitle">WELCOME TO ASKTHEEU.ORG!</h2>
</div>

<div id="contentAbout">
	<%= render :partial => 'sidebar' %>
	<div id="left_column_flip">

	   <!-- <h3><a href="#welcome">Welcome to AsktheEU.org!</a></h3>
	  <h3><a href="#how">What is AsktheEU.org?</a></h3>
	  <h3><a href="#users">Why create AsktheEU.org?</a></h3>
	  <h3><a href="#who">What does Access Info Europe do?</a></h3>
	  <h3><a href="#whoelse">Who else is behind it?</a></h3>	  
	  <h3><a href="#funders">Who is funding AsktheEU.org?</a></h3>
	  <h3><a href="#supporters">AsktheEU.org Supporters</a></h3>
	  <h3><a href="#ip">Intellectual Property</a></h3> -->

	  <h2 id="welcome">Welcome to AsktheEU.org!</h2>
	  <p>AsktheEU.org has been built by civil society organizations to help members of the public like you get the information you want about the European Union. It is as easy as asking a question.</p>
	  <p>This website will also make life easier for EU public officials because they will be less likely to have to answer repeated requests about the same subject: once a question has been answered everyone will be able to find the information stored on this website.</p>

	  <h2 id="how">What is AsktheEU.org?</h2>
	  <p>AsktheEU.org is an independent website built and run by civil society organisations <a href="http://www.access-info.org">Access Info Europe</a> and <a href="http://www.mysociety.org/">mySociety</a> to help members of the public like you get the information you want from the European Union. It is not an official EU website.</p>

	  <h2 id="users">Why create AsktheEU.org?</h2>
	  <p>The European Union is an integral part of national European governance structures, and increasingly influential in every aspect of our daily lives; it has been estimated that up to 50% of national laws originate from Brussels, with the figure rising to 70% when it comes to economic policies.</p>
	  <p>In a healthy democracy the public knows what its government is doing.</p>
	  <p>Some information is available on EU websites and in public registers, but it is not enough. If the European public wants to hold the EU to account and to participate in decision-making, we need more information. </p>
	  <p>At present, even though there are over 500 million EU citizens, the EU institutions receive only about 10,000 requests for documents per year.</p>
	  <p>AsktheEU.org is designed to help members of the public find out more about what the EU is doing and to get access to information of use to you so that you can use it to engage in public debates and contribute to better decisions being taken at the EU level.</p>

	  <h2 id="who">What does Access Info Europe do?</h2>
	  <p>Access Info advocates for greater transparency of EU institutions. We use AsktheEU.org to monitor how well they are applying the access to documents regulation in practice, and whether or not they are respecting the fundamental right of access to information. </p>
	  <p>We have identified a series of “black spots” which we are working to tackle through campaigns and strategic litigation. If your request relates to one of these “black spots”, please do get in touch! <a href="http://www.access-info.org/wp-content/uploads/eu_transparency_priorities.pdf">Click here to see Access Info's EU transparency priorities</a>.</p>
 	  <p>Access Info Europe is a not-for-profit human rights organisation registered in Spain with the Ministry of Interior (reference 587828) and with the EU’s Transparency Register (reference 49931835063-67).</p>

          <h2 id="whoelse">Who else is behind it?</h2>
          <p>Whilst Access Info advocates, campaigns and promotes the right of access to EU documents, the technical maintenance and programming/coding side of AsktheEU.org is done by mySociety. </p>
	  <p>mySociety is an e-democracy organisation of the UK-based registered charity named UK Citizens Online Democracy (1076346).</p>
	  <p>The AsktheEU.org project is also supported by a number of European and international organisations.</p>

	  <h2 id="funders">Who funds AsktheEU.org?</h2>
	  <p>AsktheEU.org has been funded by the Open Society Foundations. We also receive invaluable technical support from the team at mySociety who help us keep AsktheEU.org running smoothly. </p>
	  <p>Please do not hesitate to make a donation or contact us if you are interested in helping the running of the site. </p>

	  <h2 id="supporters">AsktheEU.org Supporters</h2>
	  <p>The following organisations form part of the AsktheEU Advisory Group:
		<%= render :partial => 'help/supporters' %>
	  </p>

	  <h2 id="ip">Intellectual Property</h2>
	  <p>This website is part of the <a href="http://www.alaveteli.org/">Alaveteli</a> Project – an open source software development being run by <a href="http://www.mysociety.org/">mySociety</a> in collaboration with <a href="http://www.access-info.org">Access Info Europe</a> and other civil society organisations. The other original content of this website was developed by Access Info Europe and is made public under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution, Share Alike licence</a>.
	  </p>
	</div>
</div>
