<% @title = "Quiénes somos" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
  <div class="page__header">
    <h1 class="page__header__title"><%= @title %></h1>
    <h2 class="page__header__subtitle">¡Bienvenido a AsktheEU.org!</h2>
  </div>
  <p id="welcome">La plataforma online de AsktheEU.org te permite obtener la información que quieras sobre la Unión Europea. Es tan fácil como hacer una pregunta.</p>
  <p>La página web está gestionada por dos organizaciones no gubernamentales sin ánimo de lucro: <a href="http://www.access-info.org">Access Info Europe</a> y <a href="http://www.mysociety.org">mySociety</a>. Por lo tanto, esta <strong>no</strong> es una página web oficial de la UE.</p>
  <h2 id="users">¿Tengo derecho a solicitar documentos a la UE?</h2>
  <p>Todos los ciudadanos europeos y los residentes en la UE tienen el derecho a solicitar documentos a la Unión Europea. Es un derecho que se encuentra en los Tratados de la UE.</p>
  <p>Todas las personas jurídicas (por ejemplo, las empresas o las asociaciones) domiciliadas en la Unión Europea también pueden hacer solicitudes.</p>
  <p>Las personas que sean ciudadanos de cualquier otro Estado también pueden preguntar, y normalmente recibirán una respuesta. Algunas instituciones de la UE podrían pedir que les facilites un documento de identificación o el código postal del solicitante. Contacta con el equipo de AsktheEU.org si no eres ciudadano de la Unión Europea y necesitas ayuda al realizar una solicitud de acceso a documentos.</p>
  <h2>¿Cuál es la ley que me otorga el derecho a solicitar documentos a la UE?</h2>
  <p>La norma que regula el derecho de acceso a los documentos en la UE es el <a href="https://eur-lex.europa.eu/legal-content/ES/TXT/PDF/?uri=CELEX:32001R1049&from=EN">Reglamento 1049/2001</a> relativo al acceso del público a los documentos del Parlamento Europeo, del Consejo y de la Comisión.</p>
  <p>El derecho a solicitar documentos a la UE se encuentra en el Artículo 15 del Tratado de Funcionamiento de la Unión Europea y en el Artículo 42 de la Carta de Derechos Fundamentales de la Unión Europea.</p>
  <p>Solicitar documentos a la UE es gratuito y nunca estás obligado a decir por o para qué quieres la información.</p>
  <h2 id="how">¿Cómo funciona?</h2>
  <p>La página web envía tu solicitud a un organismo de la UE. Cuando recibas respuesta por parte de dicho organismo, ésta se publicará automáticamente en la página web y recibirás una notificación en tu correo electrónico.</p>
  <p>Cada mensaje que envíes o recibas a través de AsktheEU.org se hará público en la página web, para que otros usuarios puedan consultar la información que has recibido.</p>
  <p>El reglamento establece un plazo de 15 días laborables (unas 3 semanas naturales) para que recibas la información. Si el plazo termina sin que recibas una respuesta enviaremos un recordatorio automático a dicho organismo de la UE. Tú también recibirás un recordatorio.</p>
  <h2>Cómo mandar tu solicitud en 4 pasos:</h2>
  <ol>
    <li>Regístrate en la página web.</li>
    <li>Identifica el organismo al que quieres enviar la solicitud.</li>
    <li>Rellena la solicitud – parte del texto aparece automáticamente – revísala, y luego pulsa el botón "enviar".</li>
    <li>Cuando recibas una respuesta por parte del organismo, te llegará un email. A veces recibes antes un "acuse de recibo", y más tarde, dentro de los 15 días que estipula el reglamento (3 semanas), una respuesta.</li>
  </ol>
  <h2>¿Qué debería decir en mi solicitud?</h2>
  <p>Simplemente pregunta por aquellos documentos que contengan la información que quieres. Sé claro y específico. No te preocupes demasiado por hacer una solitud perfecta: si lo que quieres no queda claro, el organismo al que le estás solicitando los documentos podrá pedirte que aclares los puntos que considere confusos.</p>
  <p>Recuerda: Nunca estás obligado a explicar el motivo de tu solicitud.</p>
  <p>Contacta con el equipo de AsktheEU.org de Access Info Europe si no estás seguro de qué decir en tu solicitud.</p>
  <p>Te rogamos que realices tus solicitudes con un lenguaje cortés y respetuoso – si encontramos una solicitud cuyo lenguaje es inapropiado, ofensivo, o difamatorio, nos reservamos el derecho de retirarla de AsktheEU.org.</p>
  <div>
    <h3>¿Puedo solicitar información sobre mí mismo?</h3>
    <p>No deberías usar AsktheEU.org para acceder a tu información personal. Para solicitudes sobre datos personales existen las Normas de Protección de Datos de la UE. Haz clic <a href="https://ec.europa.eu/commission/priorities/justice-and-fundamental-rights/data-protection/2018-reform-eu-data-protection-rules/eu-data-protection-rules_es">aquí</a> para obtener más información.</p>
  </div>
  <div>
    <h3>¿Puedo solicitar Información sobre el Medio Ambiente?</h3>
    <p>Sí, puedes usar AsktheEU.org para solicitar información sobre el medio ambiente. Si lo haces, por favor incluye en tu solicitud que además de basarte en el Reglamento 1049/2001 para pedir dicha información, te apoyas también en la Directiva de Aarhus relativa al acceso del público a la información medioambiental (Directiva 2003/4/EC).</p>
  </div>
  <h2>¿Qué idioma puedo utilizar para realizar mi solicitud?</h2>
  <p>AsktheEU.org está disponible en inglés, francés, alemán y español.</p>
  <p>Tienes derecho a preguntar en cualquiera de los 24 idiomas oficiales y de trabajo de la UE: búlgaro, croata, checo, danés, neerlandés, inglés, estonio, finlandés, francés, alemán, griego, húngaro, irlandés, italiano, letón, lituano, maltés, polaco, portugués, rumano, eslovaco, esloveno, español y sueco.</p>
  <p>En teoría, la UE debería responderte en el idioma en el que realizaste tu solicitud, pero en realidad hay muchos documentos que no existen en todos los idiomas. Aun así, merece la pena intentarlo. Si necesitas ayuda, contacta con el equipo de AsktheEU.org</p>
  <h2>¿Qué debo hacer si un organismo de la UE me pide mi dirección postal o un documento de identificación?</h2>
  <p>Algunos organismos de la UE pueden pedirte tu dirección postal o una copia de tu documento de identidad.</p>
  <p>Aunque estamos en contra de esta práctica, los organismos tienen el derecho a hacerlo. Háznoslo saber si te lo solicitan. Podemos ocultar tu dirección postal una vez que la hayas enviado.</p>
  <p>También podemos proporcionarte el email adecuado del organismo al que mandar tu documento de identificación.</p>
  <h2>¿Mi información personal será pública?</h2>
  <p>Tu nombre será público, vinculado a tu solicitud. Nunca le daremos tu email personal a nadie. Para saber más, lee en este enlace nuestra <%= link_to 'política de privacidad completa', help_privacy_path %> – ¡Está en un lenguaje sencillo!</p>
  <p>Para prevenir spam, emails y números de teléfono se retiran automáticamente de las respuestas a solicitudes.</p>
  <p>Si necesitas acceder a alguna de esta información automáticamente censurada, te rogamos que contactes con nosotros.</p>
  <p>Por motivos técnicos, no siempre podemos retirar de forma automática emails y números de teléfono de archivos adjuntos, como por ejemplo de PDFs escaneados. En muchas ocasiones podemos hacerlo de forma manual si contactas con nosotros.</p>
  <h2>¿Qué pasa si no estoy satisfecho con la respuesta recibida o me niegan acceso a los documentos?</h2>
  <p>Si no estás satisfecho con la respuesta, o si te es denegado el acceso a los documentos, tienes derecho a reclamar.</p>
  <p>Puedes recurrir la decisión a través de esta página web. Los recursos a la UE se llaman "solicitudes confirmatorias". Simplemente pulsa en el botón que dice "Solicita un recurso interno".</p>
  <p>Para que la reclamación sea válida, debes realizarla dentro del plazo de 15 días laborables (aproximadamente 3 semanas naturales) desde el momento en el que se te haya notificado la denegación de la información. El organismo de la UE tiene entonces un plazo de otros 15 días para responder a tu reclamación.</p>
  <p>Si sigues sin estar satisfecho, puedes recurrir al <a href="https://www.ombudsman.europa.eu/es/home">Defensor del Pueblo Europeo</a>.</p>
  <p>Otra opción es recurrir en el Tribunal de Justicia de la Unión Europea. Si decides hacer esto, necesitarás la asistencia de un abogado.</p>
  <p>Si quieres recurrir, pero no estás seguro de cómo hacerlo, contacta con el equipo de AsktheEU.org y te ayudaremos.</p>
  <h2>¿Qué hago si no recibo respuesta?</h2>
  <p>Si no recibes una respuesta dentro de los 15 días laborables (3 semanas) estipulados, esto se conoce como "silencio administrativo" y tienes derecho a recurrir.</p>
  <p>Antes de reclamar, puedes enviarle un recordatorio al organismo que no te ha respondido. Si después de hacerlo sigues sin recibir respuesta, entonces puedes pasar a enviar una reclamación.</p>
  <p>Si después de enviar tu reclamación sigues sin obtener respuesta, puedes presentar una reclamación ante el Defensor del Pueblo Europeo.</p>
  <p>Haz saber al equipo de AsktheEU.org si necesitas ayuda recurriendo un silencio administrativo.</p>
  <h2 id="who">¿Quiénes somos?</h2>
  <p>AsktheEU.org es un proyecto de Access Info Europe, una organización de derechos humanos con sede en Madrid.</p>
  <p>Access Info Europe es una organización sin ánimo de lucro que defiende los Derechos Humanos registrada en Madrid ante el Ministerio del Interior (referencia 587828) y ante el Registro de Transparencia de la UE (referencia 49931835063-67).</p>
  <p id="ip">Esta página web funciona gracias al software de Alavateli, desarrollado y gestionado por mySociety, que también gestiona la exitosa página <a href="https://www.whatdotheyknow.com/">WhatDoTheyKnow.com</a> en Gran Bretaña. Actualmente, también hay <a href="https://alaveteli.org/deployments/">otras páginas web similares</a> alrededor del mundo.</p>
  <h2>¡Estamos aquí para ayudarte!</h2>
  <p>El equipo de AsktheEU.org forma parte del equipo de Access Info Europe, con sede en Madrid, España.</p>
  <p>Estamos encantados de ayudarte con cualquier aspecto de tu solicitud, tanto si necesitas identificar al organismo adecuado, como si necesitas ayuda en escribirla o en mandar una reclamación.</p>
  <p>Puedes <%= link_to, 'escribirnos aquí', help_contact_path %>.</p>
  <p>También puedes mandarnos un WhatsApp a este número: <strong>+34 637 22 66 09</strong></p>
  <p><strong>CRÉDITOS</strong>: Foto de portada con bandera de la Unión Europea hecha por <a href="http://www.flickr.com/photos/robdeman/">Rock Cohen</a> (licencia CC-BY-SA).</p>
</div>
