<% @title = "About" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
  <div class="page__header">
    <h1 class="page__header__title"><%= @title %></h1>
    <h2 class="page__header__subtitle">Welcome to AsktheEU.org!</h2>
  </div>
  <p id="welcome">The AsktheEU.org website enables you get the information you want about the European Union. It is as easy as asking a question.</p>
  <p>The website is run by two not-for-profit, non-governmental organisations: <a href="http://www.access-info.org">Access Info Europe</a> and <a href="http://www.mysociety.org">mySociety</a>. It is <strong>not</strong> an official EU website.</p>
  <h2 id="users">Do I have a right to ask the EU for documents?</h2>
  <p>All EU citizens and residents have a right to ask for EU documents. That's a right in the EU Treaties.</p>
  <p>All companies and associations based in the European Union can also make requests.</p>
  <p>Anyone else, from around the world, can ask and usually you will get an answer. Some EU bodies might ask for an ID document or postal address. Contact the AsktheEU.org team if you are from outside Europe and need help making a request.</p>
  <h2>Which law gives me this right to ask for EU documents?</h2>
  <p>The EU rules are called <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32001R1049&from=EN">Regulation 1049/2001</a> on Access to EU Documents.</p>
  <p>The right to ask for EU documents is in Article 15 of the Treaty on the Functioning of the European Union and Article 42 of the Charter of Fundamental Rights of the European Union</p>
  <p>Asking for EU documents is free of charge and you never have to say why you want the information.</p>
  <h2 id="how">How does it work?</h2>
  <p>The website sends your request to an EU body. When the response is received, it is automatically published on this website and you will get a notification.</p>
  <p>All answers are public, so that the information is shared with anyone who is interested.</p>
  <p>If you don't get an answer within 15 working days (3 weeks) we will send an automatic reminder to the EU body. You will also get a reminder note.</p>
  <h2>How to send your request in 4 steps:</h2>
  <ol>
    <li>You register with the website.</li>
    <li>You identify which body you want to send a request to.</li>
    <li>You fill out the request – some of the text appears automatically – preview it, and then just press "send."</li>
    <li>When you get an answer, a message will come to your email. Sometimes you get an acknowledgement first and then later, within 15 working days (3 weeks) a response. <strong>Note</strong> The time frame for the Court of Justice of the European Union to respond is 1 month from the date of registration.</li>
  </ol>
  <h2>What should I say in my request?</h2>
  <p>Simply ask for documents containing the information that you want. Be clear and specific. Don't worry too much about making a perfect request: if it's not clear, the EU body can always come back to you for a clarification.</p>
  <p>Remember: You never have to say why you want the information.</p>
  <p>Contact the AsktheEU.org team at Access Info Europe if you are not sure what to say.</p>
  <p>Please keep your language polite and respectful – if we see language that is inappropriate, offensive, or defamatory, we reserve the right to take down your request.</p>
  <div>
    <h3>Can I ask information about myself?</h3>
    <p>You should not use AsktheEU.org to get access to personal information about yourself. For personal data requests EU's Data Protection rules. Click <a href="https://ec.europa.eu/commission/priorities/justice-and-fundamental-rights/data-protection/2018-reform-eu-data-protection-rules/eu-data-protection-rules_en">here</a> for more information.</p>
  </div>
  <div>
    <h3>Can I ask for Environmental Information?</h3>
    <p>You can use AsktheEU.org to request environmental information. If you are doing that, please also mention in your request that, in addition to Regulation 1049/2001, you are asking based on the Aarhus Directive on public access to environmental information (Directive 2003/4/EC).</p>
  </div>
  <h2>Which language can I use to make my request?</h2>
  <p>AsktheEU.org is in English, French, German and Spanish.</p>
  <p>You have a right to ask in any of the 24 official and working languages of the EU: Bulgarian, Croatian, Czech, Danish, Dutch, English, Estonian, Finnish, French, German, Greek, Hungarian, Irish, Italian, Latvian, Lithuanian, Maltese, Polish, Portuguese, Romanian, Slovak, Slovene, Spanish, and Swedish.</p>
  <p>In theory the EU should answer in the language in which you ask, but in reality many documents do not exist in all languages. Still, it's worth trying. If you need help, let the AsktheEU.org team know.</p>
  <h2>What do I do if an EU body asks for my address or an ID document?</h2>
  <p>Some EU bodies might ask for your postal address or a copy of your ID.</p>
  <p>We are against this practice, but bodies have a right to do it. Let us know if this happens to you. We can take your postal address off line by redacting it after you have sent it.</p>
  <p>We can also help you with the right email address to send your ID document.</p>
  <h2>What information about me will be public?</h2>
  <p>Your name will be public, linked to your request. We never give your email address to anyone. For more, read our full <%= link_to 'privacy policy', help_privacy_path %> – it's in user-friendly language!</p>
  <p>To prevent spam, emails and mobile numbers are automatically removed from responses to requests.</p>
  <p>If you need access to any of this automatically-redacted information, please get in contact with us.</p>
  <p>For technical reasons we are not always able automatically to remove emails and phone numbers from attachments, such as scanned PDFs, although in many cases this can be done manually if you contact us.</p>
  <h2>What if I am not happy with an answer or if they refuse to give me the documents?</h2>
  <p>If you are not happy with a response, or if documents are refused, you have a right to appeal.</p>
  <p>You can appeal via this website. An appeal to the EU is call a "confirmatory application." Just click on the link saying "I want to appeal."</p>
  <p>You must send the appeal within 15 working days (3 weeks) of getting a refusal. The EU body has another 15 working days to answer your appeal.</p>
  <p><strong>Note</strong> The time frame for the Court of Justice of the European Union to respond is 1 month from the date of registration.</p>
  <p>If you are still not happy, you can appeal to the <a href="https://www.ombudsman.europa.eu/en/home">European Ombudsman</a>.</p>
  <p>Another option is to appeal to the Court of Justice of the European Union. You will need a lawyer to help you do this.</p>
  <p>If you want to appeal but are not sure how to do it, just contact the AsktheEU.org team and we will help you.</p>
  <h2>What do I do if I don't get an answer?</h2>
  <p>When you don't get an answer in 15 working days (or 1 month in the case of the Court of Justice of the European Union) this is called "administrative silence" and you have a right to send an appeal to challenge that.</p>
  <p>Before you do that, you might want to send a polite reminder, and then if you still don't get an answer, you can send your appeal.</p>
  <p>If after sending your appeal, there is still no answer, you can make a complaint to the European Ombudsman.</p>
  <p>Let the AsktheEU.org team know if you need help with appealing silence.</p>
  <h2 id="who">Who are we?</h2>
  <p>AsktheEU.org is a project of Access Info Europe, a human rights organisation based in Madrid.</p>
  <p>Access Info Europe is a not-for-profit human rights organisation registered in Spain with the Ministry of Interior (reference 587828) and with the EU's Transparency Register (reference 49931835063-67).</p>
  <p id="ip">The software running this website is the Alaveteli software, developed and managed by mySociety's, which also runs the highly successful UK website <a href="https://www.whatdotheyknow.com/">WhatDoTheyKnow.com</a>. There are <a href="https://alaveteli.org/deployments/">similar websites</a> all around the world.</p>
  <h2>We are here to help!</h2>
  <p>The AsktheEU.org team is part of Access Info Europe's team based in Madrid, Spain.</p>
  <p>We are happy to help you with any part of your request, whether you need help identifying the right body, writing the request, or sending an appeal.</p>
  <p>You can <%= link_to 'write to us here', help_contact_path %>.</p>
  <p><strong>CREDITS</strong>: Front page picture of EU flag by <a href="http://www.flickr.com/photos/robdeman/">Rock Cohen</a> (licensed CC-BY-SA).</p>
</div>
