<% @title = "Sur AskTheEU" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
  <div class="page__header">
    <h1 class="page__header__title">Sur AskTheEU</h1>
    <h2 class="page__header__subtitle">Bienvenue à AsktheEU.org !</h2>
  </div>
  <h2 id="welcome">Bienvenue à AsktheEU.org</h2>
  <p>La plateforme en ligne AsktheEU.org vous permet d'obtenir les informations que vous souhaitez sur l'Union européenne. C'est aussi simple que de poser une question.</p>
  <p>Le site Web est géré par deux organisations non gouvernementales à but non lucratif : Access Info Europe et mySociety. Il ne s'agit donc pas d'un site officiel de l'Union européenne.</p>
  <h2>Est-ce que j’ai le droit de demander documents à l’UE ?</h2>
  <p> Oui. Tous les citoyens européens et les résidents dans l’UE ont le droit de demander des documents à l’UE. C’est un droit qui figure dans les Traités de l’Union Européenne.</p>
  <p>Toutes les entreprises et les associations basées dans l’Union européenne peuvent également déposer une demande.</p>
  <p>Toute personne qui habite où provienne dehors l’Union européenne peut aussi demander, et normalement recevra une réponse. Certaines institutions de l’UE peuvent solliciter un document d’identification ou le code postal du demandeur. <a href="mailto:team@asktheeu.org">Contactez l’équipe de AsktheEU.org</a> si vous êtes en dehors de l’UE et vous avez besoin d’aide pour faire une demande d’accès aux documents.</p>
  <h2>Quelle est la loi qui me donne le droit de demander des documents à l'UE?</h2>
  <p>Les normes européennes figurent dans le<a href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32001R1049&amp;from=FR">Règlement 1049/2001</a> ur l’Accès aux Documents de l’UE.</p>
  <p>TLe droit de solliciter documents à l’UE se trouve à l’Article 15 du Traité sur le Fonctionnement de l’UE et à l’Article 42 de la Charte des Droits Fondamentaux de l’Union européenne.</p>
  <p>Demander des documents à l’UE est gratuit et vous n’êtes jamais obligé de dire pourquoi vous voulez ces informations.</p>
  <h2 id="how">Comment cela fonctionne?</h2>
  <p>Le site web redirige votre demande vers un organisme de l’UE. Lorsque vous recevrez une réponse de cet organisme, elle sera automatiquement publiée sur le site web.</p>
  <p>Tous les messages envoyés et toutes les réponses reçues sont automatiquement publiées sur le site web afin que vous et tout le monde puissiez y avoir accès.</p>
  <p>Le règlement fixe un délai de 15 jours ouvrables (environ 3 semaines civiles) pour que vous receviez l'information sollicitée. Si vous ne recevez pas de réponse dans le délai légal, nous enverrons un rappel automatique à cet organisme de l’UE. Vous recevrez également un rappel.</p>
  <h4>Comment envoyer votre demande en 4 étapes faciles à suivre :</h4>
  <ul>
    <li>1. Vous vous inscrivez sur le site.</li>
    <li>2. Vous identifiez l’organisme auquel vous souhaitez envoyer la demande.</li>
    <li>3. Vous remplissez la sollicitude – une partie du text apparaît automatiquement – vous la révisez, puis vous cliquez sur le bouton « envoyer ».</li>
    <li>4. Vous receverez un email lorsque l’organisme répond. Parfois, vous receverez une « accuse de réception » d’abord, et plus tard, dans le 15 jours prevús par le règlement (3 semaines), une réponse.</li>
  </ul>
  <h2>Que dois-je indiquer sur ma demande ?</h2>
  <p>Vous devez simplement demander pour les documents qui contiennent l’information que vous deserez. Soyez clair et précis. Ne vous inquiètez pas trop de faire une demande parfaite : si ce que vous voulez n’est pas clair, l’organisme auquel vous avez demandé l’information vous contacterá pour clarifier les points qu’il trouve ambigus.</p>
  <p>N’oubliez pas : vous ne pouvez jamais être obligé d’expliquer la raison de votre demande.</p>
  <p>Contactez l’équipe de AsktheEU.org d’Access Info Europe si vous n’êtes pas sûr de ce que vous voulez dire sur votre demande.</p>
  <p>Veuillez formuler vos demandes dans un langage poli et respectueux - si nous constatons que le langage est inapproprié, offensant ou diffamatoire, nous nous réservons le droit de retirer votre demande.</p>
  <h4>Puis-je demander des informations sur moi-même ?</h4>
  <p>Vous ne devez pas utiliser AsktheEU.org pour acceder à vos informations personnelles. Pour faire des demandes concernant des donnés personnelles, il existe des Normes de Protection des Donnés de l’UE. Pour en savoir plus, cliquez<a href="https://ec.europa.eu/info/law/law-topic/data-protection/eu-data-protection-rules_fr">here</a>ici.</p>
  <h4>Puis-je demander des informations sur l’environnement ?</h4>
  <p>Oui, vous pouvez utiliser AsktheEU.org pour demander des informations sur l’environnement. Dans l’affirmative, veuillez inclure dans votre demand qu’en plus de vous fonder sur le règlement 1049/2001 pour réclamer telles informations, vous vous appuyiez également sur la Directive d’Aarhaus concernant l’accès publique à l’information en matière d’environnment (Directive 2003/4/EC).</p>
  <h2 id="whybother_me">Who can use AsktheEU.org?</h2>
  <p>Every one of the 500 million people living in the European Union (both citizens and residents) has the legally guaranteed right to ask for documents from EU bodies.</p>
  <h2>Quelle langue est-ce que je peut utiliser pour realiser ma demande?</h2>
  <p>AsktheEU.org est disponible en anglais, français, allemande et espagnol.</p>
  <p>ous avez le droit de poser une question dans l’une des 24 langues officielles et de travail de l’UE : allemand, anglais, bulgare, croate, danois, espagnol, estonien, finnois, français, grec, hongrois, irlandais, italien, letton, lituanien, maltais, néerlandais, polonais, portugais, roumain, slovaque, slovène, suédois et tchèque</p>
  <p>En théorie, l’UE devrait vous répondre dans la langue dans laquelle vous avez demandé, mais en realité, il existe de nombreux documents qui n'existent pas dans toutes les langues. Ça vaut quand même la peine d'essayer. Si vous avez besoin d'aide, contactez l'équipe AsktheEU.org.</p>
  <h2>Qu’est-ce que je dois faire si un organisme de l’UE demande ma direction postale ou un document d’identification?</h2>
  <p>Certains organismes de l’UE peuvent vous solliciter votre adresse postal ou une copie de votre pièce d’identité.</p>
  <p>Meme si nous sommes contre cette pratique, certains organismes ont le droit de le faire. Faites-nous savoir si cela vous arrive. Nous pouvons cacher votre adresse postale du site web une fois que vous l'avez envoyée.</p>
  <p>Nous pouvons également vous indiquer l’email approprié de l’organisme auquel vous doivez envoyer votre pièce d’identité.</p>
  <h2>What information about me will be public?</h2>
  <p>Votre nom será rendue publique dans le site, lié à votre demande. Nous ne donneros jamais votre adresse email à personne. Pour en savoir plus, veuillez lire notre p<a href="help/privacy.fr.html.erb">olitique de confidentialité complete </a>  – nous avons fait de notre mieux pour la rendre claire et compréhensible !</p>
  <p>Pour prévenir le spam, les e-mails et les numéros de téléphone sont automatiquement supprimés des réponses aux demandes. Si vous avez besoin d'accéder à l'une de ces informations générées automatiquement, veuillez nous contacter.</p>
  <h2>Que faire si je ne suis pas satisfait de la réponse ?</h2>
  <p>Si vous n’êtes pas satisfait de la réponse ou si les documents sont refusés, vous avez le droit de faire une réclamation.</p>
  <p>Vous pouvez vous plaindre par ce site web. Une plainte après de l’UE s’appelle « demande confirmative ». Vous devez simplement cliquer sur le boton « Je veux porter plainte ».</p>
  <p>Pour que la réclamation soit valide, vous devez la présenter dans les 15 jours ouvrables (3 semaines) suivant le refus. L'organe de l'UE dispose alors de 15 jours supplémentaires pour répondre à votre plainte.</p>
  <p>Si vous n'êtes toujours pas satisfait, vous pouvez faire appel au <a href="https://www.ombudsman.europa.eu/fr/home">Ombudsman de l’UE.</a>.</p>
  <p>Une autre possibilité est de faire appel devant la Cour de Justice de l’Union européenne. Si vous décidez de le faire, vous aurez besoin d’un avocat pour vous aider.</p>
  <p>Si vous voulez faire appel mais ne savez pas comment le faire, contactez l'équipe d'AsktheEu.org et nous vous aiderons.</p>
  <h2>Que faire si je ne reçois pas de réponse ?</h2>
  <p>Si vous ne recevez pas de réponse dans le délai de 15 jours ouvrables (3 semaines), on parle d’un « silence administratif » et vous avez le droit de porter plainte.</p>
  <p>Avant de faire une réclamation, vous pouvez décider d’envoyer un rappel concernant votre demande à l’organisme qui ne vous a pas répondu. Si après cela, vous ne recevez toujours pas de réponse, alors vous pouvez continuer à faire une réclamation.<p/>
  <p>Si, après de avoir envoyé votre réclamation, vous ne recevez toujours pas de réponse, vous pouvez faire appel auprès d’<a href="https://www.ombudsman.europa.eu/fr/home">Ombudsman de l’UE.</a>.</p>
  <p>Faites-savoir à l’équipe de AsktheEU.org si vous avez besoin d’aide au moment de faire la réclamation d’un silence administratif.</p>
  <h2 id="who">Qui sommes-nous?</h2>
  <p>AAsktheEU.org est un projet d’Access Info Europe, une organisation de défense des droits humains basée à Madrid. Access Info Europe est une organisation à but non lucratif qui défend les droits humains, enregistrée à Madrid auprès du Ministère de l’Interieur (référence 587828) et du Registre de Transparence de l’UE (référence 49931835063-67). Ce site fonctionne grâce au software Alavateli, développé et géré par <a href="https://www.mysociety.org">mySociety</a>, qui gère également le succès du site web de la Gran Bretagne <a href="https://www.whatdotheyknow.com">WhatDoTheyKnow.com.</a>. Actuallement, il existe aussi des autres sites web similaires dans le monde entier.
  <h2>Nous sommes ici pour vous aider!</h2>
  <p>L’équipe d’AsktheEU.org fait partie de l’équipe d’Access Info Europe, basée à Madrid, Espagne. Nous sommes ravis de vous aider pour toute partie de votre demande, que vous ayez besoin d'identifier l'organisme approprié, d'obtenir de l'aide pour rédiger votre demande ou d'envoyer une plainte.</p>
  <p>Vous pouvez nous écrire <a href="mailto:team@asktheeu.org">ici</a></p>
  <p>Vous pouvez égalemente nous contacter vía whatsapp </p>
  <h2 id="funders">Who is funding AsktheEU.org?</h2>
  <p>AsktheEU.org is funded primarily by the Open Society Foundation. We still need more funds and volunteers to keep it running. <a href="http://www.access-info.org/en/support-us">Support Access Info Europe</a>.</p>
  <h2 id="supporters">AsktheEU.org Supporters</h2>
  <p>The following organisations form part of the AsktheEU Advisory Group: <%= render :partial => 'help/supporters' %></p>
  <h2 id="ip">Intellectual Property</h2>
  <p>This website is part of the <a href="http://www.alaveteli.org/">Alaveteli</a> Project – an open source software development being run by <a href="http://www.mysociety.org/">mySociety</a> in collaboration with <a href="http://www.access-info.org">Access Info Europe</a> and other civil society organisations. The other original content of this website was developed by Access Info Europe and is made public under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution, Share Alike licence</a>.</p>
</div>
