<% @title = "Guía de AsktheEU.org para funcionarios públicos" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
  <div class="page__header">
    <h1 class="page__header__title"><%= @title %></h1>
  </div>
  <ul>
    <li><a href="#what">Guía de AsktheEU.org para funcionarios públicos?</a></li>
    <li><a href="#how">Cómo funciona AsktheEU.org?</a></li>
    <li><a href="#spam_problems">¿Las personas que están detrás de las solicitudes son personas reales?</a></li>
    <li><a href="#processing_requests">¿Cómo respondo a la solicitud?</a></li>
    <li><a href="#large_file">¿Cómo puedo mandar un archivo grande, que no puede ser enviado por email?</a></li>
    <li><a href="#mobiles">¿Qué información sobre los funcionarios públicos de la UE publicáis?</a></li>
    <li><a href="#privacy_issues">¿Qué pasa si he publicado de forma involuntaria datos personales?</a></li>
    <li><a href="#days">¿Cómo calculáis la fecha límite para resolver que aparece en la página de la solicitud?</a></li>
  </ul>
  <h2 id="what">Guía de AsktheEU.org para funcionarios públicos?</h2>
  <p><em>Si eres un funcionario público y has llegado a esta página siguiendo un link en un email que has recibido, aquí encontrarás información que debes saber sobre AsktheEU.org y su funcionamiento...</em></p>
  <p>El objetivo de AsktheEU.org facilitar las solicitudes de acceso a documentos por parte de los ciudadanos europeos y residentes en la UE.</p>
  <p>Es también una forma de asegurarnos de que cualquier documento difundido públicamente a un solicitante esté también disponible para el resto de ciudadanos. Con esto, esperamos animar al público a estar más interesado y más involucrado en el trabajo de la Unión Europea.</p>
  <p>Si eres un funcionario público de la UE, AsktheEU.org también te facilita el trabajo, puesto que tendrás menos probabilidades de tener que responder varias veces a solicitudes sobre el mismo tema.</p>
  <p>AsktheEU.org es una página web administrada por dos organizaciones no gubernamentales sin ánimo de lucro, Access Info Europe y mySociety. La plataforma online ayuda a que cualquier ciudadano pueda solicitar documentos e información a los distintos organismos de la UE, y también comparte todas las respuestas recibidas con el público en general.</p>
  <h2 id="how">Cómo funciona AsktheEU.org?</h2>
  <p>Los solicitantes se registran en la página web de AsktheEU.org y la usan para realizar solicitudes.</p>
  <p>Cada solicitud genera una dirección de email única. Debes responder a ese email para responder a la solicitud, como harías con cualquier otra solicitud de acceso a documentos. La única diferencia es que tu respuesta se publicará automáticamente en AsktheEU.org.</p>
  <h2 id="spam_problems">¿Las personas que están detrás de las solicitudes son personas reales?</h2>
  <p>Sí. Cada solicitud es enviada por una persona que ha creado una cuenta en AsktheEU.org y que ha pasado por un proceso de dos fases para verificar el email que él o ella está usando. De esta forma, protegemos AsktheEU.org del spam.</p>
  <p>También puedes navegar por esta página web y encontrar una lista de todas las solicitudes que se han realizado anteriormente.</p>
  <h2 id="processing_requests">¿Cómo respondo a la solicitud?</h2>
  <p>Simplemente responde al email de forma normal, usando la dirección de correo que corresponde a la solicitud. La respuesta que des se enviará al solicitante y se publicará en la web de AsktheEU.org</p>
  <h2 id="large_file">¿Cómo puedo mandar un archivo grande, que no puede ser enviado por email?</h2>
  <p>Si tienes que enviar un archivo muy grande (de más de 50MB), te rogamos que nos contactes y te ayudaremos a subirlo online.</p>
  <h2 id="mobiles">¿Qué información sobre los funcionarios públicos de la UE publicáis?</h2>
  <p>Publicaremos toda la información que esté incluida en la respuesta a la solicitud de acceso a documentos.</p>
  <p>La única excepción a esta regla es que, para prevenir el spam, emails y números de teléfono se ocultarán automáticamente. Si necesitas acceso a cualquiera de esta información automáticamente ocultada, te pedimos que te pongas en contacto con nosotros.</p>
  <p>A parte de esta excepción, el resto de la respuesta se hará pública. La lógica que se encuentra detrás de esto es que, si un solicitante puede recibir la información, significa que la información es pública y por lo tanto debería de estar disponible para todo el mundo.</p>
  <p>Esto es consistente con la jurisprudencia del Tribunal Europeo de Derechos Humanos, que ha confirmado el vínculo intrínseco entre el derecho de acceso a la información y el derecho a la libertad de expresión.</p>
  <h2 id="privacy_issues">¿Qué pasa si he publicado de forma involuntaria datos personales?</h2>
  <p>Si mandas de forma inintencionada datos de carácter personal o información que no debería ser pública, te rogamos que nos contactes inmediatamente. Ten en cuenta que la forma más efectiva de hacer esto es por teléfono o vía email. También puedes enviar una carta certificada, pero recuerda que puede tardar varios días en llegar a nuestra oficina en Madrid.</p>
  <p>Cabe la posibilidad de que te solicitemos un escrito formal confirmando la petición de eliminar los datos personales publicados, pero si de verdad se publican de forma accidental, lo mejor es llamar por teléfono: es más rápido y más efectivo.</p>
  <h2 id="days">¿Cómo calculáis la fecha límite para resolver que aparece en la página de la solicitud?</h2>
  <p>El sistema de AsktheEU.org calcula automáticamente 15 días laborables, en línea con la Regulación 1049/2001, aplicable a la mayoría de instituciones de la UE.</p>
  <p>Empezamos a contar los días a partir del primer día laborable una vez que se haya enviado la solicitud. Si la solicitud se envía en un día laborable, empezamos a contar el día siguiente.</p>
  <p>El sistema tiene en cuenta los días festivos en las instituciones de la UE. Si tu organismo o agencia tiene festivos distintos a los que incluye el calendario de Bruselas, te pedimos por favor que nos lo hagas constar.</p>
</div>
