<% @title = "Tu confidencialidad" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
  <div class="page__header">
    <h1 class="page__header__title">TU CONFIDENCIALIDAD</h1>
    <h2 class="page__header__subtitle">¡BIENVENIDO A ASKTHEEU.ORG!</h2>
  </div>
  <p>En AsktheEU.org sólo será visible para el público general tu nombre, a no ser que incluyas otra información personal en el texto de la solicitud.</p>
  <p>Te recomendamos que no añadas ninguna otra información personal en el cuerpo de la solicitud. Esto incluye tu número de teléfono, dirección postal, email personal u otra información personal, además de detalles sobre tu familia o trabajo.</p>
  <p>La plataforma de AsktheEU.org está gestionada por Access Info Europe y nos tomamos tu privacidad en serio. Por eso cumplimos con <a href="https://gdpr-info.eu/">el Reglamento General de Protección de Datos de la Unión Europea.</a></p>
  <h2>¿Qué parte de mi información personal procesáis?</h2>
  <p>Access Info tiene acceso a tu nombre completo y a tu dirección de email personal. Los usamos para poder administrar la página web de AsktheEU.org. Nunca compartiremos tu dirección de email con terceros sin haber recibido previo consentimiento por tu parte.</p>
  <p>La página web de AsktheEU.org transfiere tu nombre a los organismos de la Unión Europea a los que has enviado una solicitud de acceso a información. Si decides usar AsktheEU.org, nos estás dando tu permiso expresamente para trasferir tu nombre a dicho organismo. También estás dando consentimiento para que ese organismo procese tu nombre con el objetivo de responder a tu solicitud. Esto quiere decir que tu nombre se compartirá con los funcionarios públicos de la Unión Europea que trabajen en la búsqueda de los documentos que has solicitado y en la preparación y firma de la respuesta que te envíen.</p>
  <p>Es importante que sepas que dejamos claro a la UE que bajo ninguna circunstancia estás dando permiso a la UE para que transfiera tu nombre a terceros sin tu expreso consentimiento</p>
  <h2 id="email_address">¿Quién puede ver mi dirección de correo electrónico?</h2>
  <p>Tu dirección de correo electrónico no aparecerá en la página web a no ser que la incluyas en el cuerpo de tu solicitud.</p>
  <p>Los funcionarios públicos de la UE tampoco ven tu dirección de correo electrónico. Esto se debe a que el sistema genera un email único para cada solicitud, y ese email no tiene nada que ver contigo o con tu nombre.</p>
  <p>El equipo de AsktheEU.org de Access Info Europe puede ver tu dirección de correo electrónico. Si lo usamos, será únicamente para contactarte respecto a tu solicitud o para informarte sobre actualizaciones del portal online de AsktheEU.org</p>
  <p>Nunca le proporcionaremos tu dirección de correo electrónico a terceros a no ser que nos lo pidas o que estemos legalmente obligados a hacerlo.</p>
  <p>Si le mandas un mensaje a otro usuario de la página web, aparecerá tu dirección de correo electrónico en el mensaje. Te informaremos de que esto va a ocurrir de antemano.</p>
  <h2 id="public_request">¿Por qué aparecen mi nombre y mi solicitud publicados en esta página web?</h2>
  <p>Publicamos tu solicitud en internet para que todo el mundo pueda consultar y utilizar la información que has obtenido.</p>
  <h2 id="real_name">¿Tengo que dar un nombre real?</h2>
  <p>Sí. Te pedimos que uses un nombre real. Estás ejerciendo un derecho que es en la base de una sociedad democrática y abierta, y por lo tanto deberías ejercerlo usando tu nombre real.</p>
  <p>Además, si quieres presentar una reclamación ante el Defensor del Pueblo Europeo o ante el Tribunal de Justicia de la Unión Europea, tienes que haber usado tu nombre real en el momento de realizar la solicitud de acceso a la información.</p>
  <p>Te pedimos que tengas en cuenta que algunos de los organismos de la UE podrían pedirte que verifiques tu dirección postal o incluso que les proporciones algún documento de identificación. Estamos en contra de esta práctica, pero puede pasar.</p>
  <p>Si eres periodista o una persona conocida y no quieres revelar que estás solicitando información, la solución es que le pidas a otra persona, como a un amigo o un compañero de trabajo, que mande la solicitud.</p>
  <p>Si verdaderamente no encuentras una alternativa, contáctanos e intentaremos ayudarte en a enviar la solicitud. Ten en cuenta que no tenemos suficientes recursos para hacer esto con todo el mundo.</p>
  <p>Te pedimos que des tu nombre y apellido. Si tienes más de un nombre o apellido, puedes usar solo uno de ellos, pero lo mínimo es que al menos proporciones un nombre y un apellido. Si vemos nombres no serios o pseudónimos muy obvios, procederemos a retirar la solitud y contactar con el solicitante. Por favor, ¡no suplantes la identidad de otra persona!</p>
  <h2 id="takedown">¿Pueden registrar información confidencial relativa a mi persona?</h2>
  <p>Si ves en la página alguna información de carácter confidencial relacionada contigo que te gustaría que eliminásemos u ocultásemos, háganoslo saber. Especifique exactamente de qué información se trata y por qué puede suponer un problema. Además, explique dónde aparece en el sitio web.</p>
  <p>Cuando se publican datos confidenciales de manera accidental solemos eliminarlos. Por lo general, se suele eliminar la información de carácter privado a petición del individuo afectado, pero si cualquier persona encuentra información confidencial le rogamos que así nos lo indique.</p>
  <p>Pensamos que existe un gran interés público por retener los nombres de los funcionarios o trabajadores públicos de las autoridades. Sólo eliminaremos dichos nombres en circunstancias excepcionales, por ejemplo si se revela el nombre y el puesto desempeñado y ello puede conllevar un riesgo para la seguridad de la persona. Si eres funcionario y quieres que eliminemos tu nombre con urgencia por las razones mencionadas, tienes que enviarnos una solicitud a través del responsable de tu departamento u organismo. Esta solicitud tiene que probar que constituye un riesgo que va más allá del interés público, y debe demostrar que se han tomado medidas para ocultar el nombre en la página web de la organización y otros documentos que puedan ser públicos.</p>
  <p>Con el resto de las solicitudes llevamos a cabo una prueba de interés público para decidir si la información debería eliminarse de acuerdo con las normas de Protección de Datos de la Unión Europea. Consideramos que la información que publicamos es de naturaleza periodística y pertenece a todos.</p>
  <h2>¡El organismo de la UE me ha pedido mi número de teléfono o dirección postal!</h2>
  <p>Si un organismo de la UE te pide tu número de teléfono para tratar algún tema sobre tu solicitud o clarificarla te recomendamos que se lo des, pero de forma directa y no a través de la plataforma online. Si no quieres darles tu número de teléfono, puedes decidir seguir discutiendo sobre la solicitud por email, o puedes solicitarles el número de teléfono tú a ellos y establecer una cita para aclarar lo que haya que aclarar.</p>
  <p>Si una autoridad pública te solicita tu dirección postal física completa, responde diciendo que preferirías que te enviasen la información en formato electrónico. Este es un derecho que te corresponde bajo la Regulación 1049/2001 si la información existe en ese formato.</p>
  <p>Dicho esto, la UE podría querer enviarte una carta por correo postal además de enviártela a través de AsktheEU.org. En estos casos, te recomendamos que proporciones tu dirección postal.</p>
  <p>Si recibes la respuesta solo por correo postal, <%= link_to 'háznoslo saber', help_contact_path %>. Existen dos posibles soluciones. Una es que tú amablemente escanees la respuesta y nos la mandes para que la podemospodamos subirla a la plataforma online. La otra es que nosotros contactemos con el organismo correspondiente y les pidamos que manden la versión digital también.</p>
  <h2 id="delete">¿Qué pasa si quiero borrar mi nombre o borrar mi cuenta?</h2>
  <p>El equipo de AsktheEU.org puede borrar solicitudes específicas – lo que significa que la solicitud y todas las respuestas recibidas se perderán.</p>
  <p>El equipo de AsktheEU.org también puede borrar tu cuenta. Debes contactarnos si deseas hacer esto. Cumpliremos siempre con la petición de eliminar tu cuenta de la forma más rápida posible. Esto significa que intentaremos hacerlo inmediatamente o por lo menos en el mismo día en el que lo pidas.</p>
  <p>Una vez que tu cuenta se borre, toda la información relacionada con ella – las solicitudes y sus respuestas – se borrará también.</p>
  <p>No podemos simplemente borrar tu nombre y dejar las solicitudes, porque el cuerpo de las solicitud y las respuestas contienen tu nombre.</p>
  <p>Por este motivo, te rogamos que pienses detenidamente si de verdad quieres que borremos una de tus solicitudes o tu cuenta, dado que eso significa que toda información relacionada con ellas se perderá también para el resto de personas. A pesar de ello, si de verdad quieres borrar tu cuenta, ¡es tu derecho!</p>
</div>
