<% @title = "Your privacy" %>
<div class="page__header">
  <h1 class="page__header__title">YOUR PRIVACY</h1>
  <h2 class="page__header__subtitle">WELCOME TO ASKTHEEU.ORG!</h2>
</div>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">

<!-- <h3><a href="#making_requests">YOUR PRIVACY</a></h3>
  <h3><a href="#public_request">Will you publish my request online?</a></h3>
  <h3><a href="#public_nameinfo">Will you show my name and personal information online?</a></h3>
  <h3><a href="#public_postaladdress">But why do I need to give my postal address?</a></h3>
  <h3><a href="#email_address">Is my email address made public?/a></h3>
  <h3><a href="#delete">The EU body has asked for my phone number</a></h3>
  <h3><a href="#sell_email">Will you use my e-mail address for newsletters or sell it to others?</a></h3>
  <h3><a href="#real_name">Can I make an access to documents request using a pseudonym?</a></h3>
  <h3><a href="#takedown">Can you take down personal information about me?</a></h3> -->

  <h2 id="public_request">Will you publish my request online?</h2>
  <p>We automatically publish your request on the internet so that anybody can read it and make use of the information that you have found. We do not normally delete requests (more details).[link to request moderation]</p>

  <h2 id="public_nameinfo">Will you show my name and personal information online?</h2>
 	  <p>On AsktheEU.org, only your username is visible to the general public unless you put other personal information, such as your name, in the body of the request. We do not delete the names of requesters or EU public officials if this is in a message that is posted online, unless there is a compelling case to remove it such as for personal security reasons. </p>

	  <p>We advise you not to put any sensitive personal information in the body of the request, such as your phone number, email address or other personal or family or work details. </p>

  <h2 id="public_postaladdress">But why do I need to give my postal address?</h2>
  	  <p>Since 1 April 2014, some EU bodies <b>(mainly the EU Commission) require your</b> postal addresses in order to <b>register and</b> process requests. This is for a variety of reasons, including sending formal refusals by post. Access Info Europe believes that this is an unnecessary policy and is challenging it, but it is a requirement that is currently in place. </p>

	  <p>If you are required to provide your postal address, <b>please let us know so that we can manually delete it after you have sent it.</b> </p>

	  <p>You will still be able to continue to use the AsktheEU.org website once you have submitted your postal address to the EU institution, and will not need to continue correspondence by regular post, unless you wish to do so. </p>

	  <p>If your request will only be dealt with via post, and no more correspondence will take place via AsktheEU.org, please classify your request as "Gone Postal: the reply will be sent by post".</p>

	  <p>When the information arrives, let us know and you can upload it to the website. If you can scan the document we'll give you an email address to use for that purpose.</p>

	  <p>In any case, if you are not sure what to do, please contact the AsktheEU.org team. </p>

  <h2 id="email_address">Is my email address made public?</h2>
  	  <p>Your e-mail address will not be shown on the website unless you include it in the message or in a footer to your request.</p>

	  <p>We will not disclose your email address to anyone unless we are obliged to by law, or you ask us to. AsktheEU.org is hosted on servers are located in the United Kingdom which is subject to EU privacy and data protection laws.</p>

	  <p>We will not give your e-mail address to the EU body you send the request to. They only get to see an @asktheeu.org email address which is specific and unique to that request.</p>

	  <p>Note that if you send a message to another user on the site, then it will reveal your email address to them. </p>

  <h2 id="delete">The EU body has asked for my phone number</h2>
 	  <p>If an EU body asks for your phone number to discuss or clarify the request we recommend that you give it, but not across the site. Discussing a complicated request over the phone can help to speed up the time it takes for the EU institution to understand what you are looking for, and ultimately get you the information you asked for quickly. </p>

	  <p>You can send your phone number to the AsktheEU.org team with a link to the request in question, and we will pass it to the correct EU body. If you do not want to give out your number, you can opt to continue discussing by email or you could ask for the institution’s phone number and arrange a time to phone and discuss the request.</p>

  <h2 id="sell_email">Will you use my e-mail address for newsletters or sell it to others?</h2>
 	  <p>No! We will never give or sell your email addresses to anyone else, unless we are obliged to by law, or you ask us to.</p>

	  <p>After you sign up to AsktheEU.org, we only send you emails relating to the request you made, alerts for technical maintenance, or other things you specifically authorise us to do such as send you alerts about other requests.</p>


  <h2 id="real_name">Can I make an access to documents request using a pseudonym?</h2>
  	  <p>You are advised to use your real name and surname when making an access to documents request. You are exercising a right which is the basis for an open and democratic society and this should be under your real name.</p>

	  <p>If you are still unsure about using your real name, you might want to get a friend or colleague to file the request instead. </p>

	  <p>Please note that if you use a pseudonym, you will not be able to exercise your legal right to appeal in front of the European Court of Justice or the European Ombudsman.</p>

  <h2 id="takedown">Can you take down personal information about me?</h2>
 	  <p>If you see any personal information about you on the site which you'd like us to remove or hide, then please let us know. Specify exactly which information you believe to be problematic and why, and tell us where it appears on the site.</p>

	  <p>If sensitive personal data has been posted accidentally, then we will usually remove it if we are informed about it. Normally we will only consider requests to remove personal information which come from the individual concerned, but for sensitive information we would appreciate anyone pointing out anything they see.</p>
</div>
