<% @title = "Request Guide" %>

<div id="contentAbout">

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">

  <div class="page__header">
    <h1 class="page__header__title">ABOUT THE RIGHT OF ACCESS TO EU DOCUMENTS</h1>
    <h2 class="page__header__subtitle">HOW TO REQUEST AND APPEAL</h2>
  </div>

  <p>EU citizens and residents have the right, protected by law, to ask all EU institutions for documents and to receive answers within 15 working days. </p>
  <p>The right of access to EU documents is guaranteed by the Treaty on the Functioning of the European Union (Article 15) and by the <a href="http://www.europarl.europa.eu/charter/default_en.htm">Charter of Fundamental Rights of the European Union (Article 42)</a>. The mechanisms for making documents requests and the rules on exceptions are developed in <a href="http://www.europarl.europa.eu/RegData/PDF/r1049_en.pdf">Regulation 1049/2001 regarding access to Parliament, Council and Commission documents</a> – this is the EU’s equivalent of an access to information or freedom of information law.</p>
  <p>NGOs, businesses and other “legal persons” registered in an EU Member State also have the same right as individuals to ask for documents.</p>
  <p>The transparency rules apply to the European Commission, the European Parliament, and the Council of the European Union – as well as other offices, bodies, and agencies. For the European Central Bank, the Court of Justice of the European Union, and the European Investment Bank, the right only applies to their administrative functions.</p>

   <!-- <h3><a href="#the_right">About the right of access to EU documents</a></h3>
  <h3><a href="#making_requests">How to Request</a></h3>
  <h3><a href="#answers_appeals">Submitting an Appeal</a></h3>
  <h3><a href="#request_moderation">Widgets and Campaigns</a></h3> -->

  <h2 id="the_right">The right to access EU "documents" not "information"</h2>
  <p>At the EU level there is a right of access to documents rather than information. In practice there is not much difference, but we include the phrase about documents in requests as otherwise your question might be processed under the Code of Good Administrative Procedure which refers to the “right to information” but does not have the same timelines nor appeals possibilities as the right of access to EU documents. </p>
  <p>When you formulate your request think about what kind of documents will contain the information you are looking for, such as minutes of meetings, email correspondence, or policy papers, etc. You need to ask for documents because <strong>EU officials are not obliged to create a new document in response to a request</strong>, but rather must provide you with copies of documents containing the information you are looking for.</p>

  <h2 id="environmental-information">What about access to environmental information?</h2>
  <p>The exception to this is environmental matters where requesters have a more extensive right to information, which is not limited only to “documents”. This is because access to environmental information is covered by an additional legal regime, the Aarhus Directive on public access to environmental information (Directive 2003/4/EC of the European Parliament and of the Council of 28 January 2003 on public access to environmental information and repealing Council Directive 90/313/EEC). </p>
  <p>At the moment AsktheEU.org does not have the capacity to differentiate general from environmental requests so if you are seeking environmental information, please specify this in your request. </p>

  <h2 id="re-use">Can I re-use the information I get?</h2>
  <p>In general, documents created by EU bodies are “public” in the sense that they were created for us, with European tax payer’s money. So you should be free to use the documents which you receive and the information they contain.</p>
  <p>In case of doubt, especially if you plan to use the material for commercial purposes, ask the EU body that released the information.</p>

  <h2 id="data_protection">Can I ask for information about myself?</h2>
  <p>You should not use AsktheEU.org to get access to personal information about yourself. If you are asking for information about yourself, use the EU’s Data Protection rules. <a href="http://www.edps.europa.eu/EDPSWEB/">Click here for more information</a>.</p>

  <h1 id="making_requests">How to Request</h1>
<p>The Access Info Europe team are happy to help you with any part of your request, whether you need help identifying the right body, drafting the request, or sending the appeal. </p>
<p>For detailed information about how to make a request, file an appeal, or any other details about the right of access to information, <a href="http://www.access-info.org/wp-content/uploads/EN_ONLINE_Guide_on_access_to_EU_Documents.pdf">please download our guide (large PDF document)</a>.</p>

  <h2 id="how-to-request">How do I submit a request?</h2>
  <ul>
    <li><strong>1.Send a request:</strong> It’s very simple: You find the EU institution to whom you want to submit a request for EU documents, you write your request, press ‘send’, and your message is automatically sent to the EU body and published on AsktheEU.org. </li>
    <li id="quickly_response">The EU institutions then have the obligation to answer within 15 working days. In exceptional cases, for example when you ask for a large number documents, an extension of 15 further working days can be applied to your request.</li>
    <li><strong>2. Wait for the response:</strong> When the EU replies, the message automatically gets published on this website and you get an automatic notification with a link to the answer. Everyone else gets to see the correspondence and that way they don’t need to ask the same question again, and they can also see how transparent the EU really is in practice. </li>
    <li><strong>3. Classify the response:</strong> You should classify your request to show if you are happy with the answer, if there was some information missing, or if the information was denied. </li>
  </ul>

  <a name="missing_body"></a>
  <h2 id="finding_bodies">To which EU body should I make a request?</h2>
  <p>AsktheEU.org has <a href="http://www.asktheeu.org/en/body/list/all">a list of all of the EU's institutions, bodies, offices and agencies</a>.</p>
  <ul>
     <li>Browse or search AsktheEU.org looking for similar requests to yours.</li>
     <li>Browse and read the descriptions of each public body to see what they do, and/or check the body’s "home page".</li>
     <li>If you are still not sure, please contact us for help.</li>
     <li>Please <a href="<%= help_contact_url %>">contact us</a> if you think AsktheEU.org is missing an EU institution that comes under EU transparency rules</li>
  </ul>

  <h2 id="focused">What makes a good request?</h2>
  <p>A good request is succinct and precise – just put in your request only what is needed so that the EU public official can easily identify the documents which contain the information you are asking for. Remember, you need to ask for documents, not only information. <a href="#the_right">What's the difference between documents and information?</a></p>
  <p>A short, well-formulated message also gives public officials fewer reasons to reject your request on the grounds that it is too vague or not clear. But don’t worry about making it perfect: the EU body should come back to you for a clarification if they have not understood.</p>
  <p>You can ask for the same document from more than one body, although it’s best to start with the body most likely to hold the information you need.</p>
  <p>If they do not hold the documents, they should refer you to the relevant bodies.</p>
  <p>Remember that you never need to say why you want the documents, what your work is or what you plan to do with the information you receive.</p>

  <h2 id="data_protection">How are requests and comments moderated?</h2>
  <p>We encourage the public to submit and comment on requests.</p>
  <p>Our team of staff and volunteers reserve the right to remove inappropriate statements, such as those which are abusive or potentially defamatory. We may also remove material and/or block users where the request is not for access to documents but a complaint or other form of communication. In cases where there is any doubt, we will of course be in contact with the requester. </p>
  <p>You can also report inappropriate material if you see it. Just <a href="mailto:team@access-info.org">write to the AsktheEU.org team</a>.</p>

  <h2>Can I keep my request confidential until I release my story/article?</h2>
  <p>AsktheEU.org is designed for public requests. All responses that we receive are automatically published on the website for anyone to read.</p>
  <p>If you are a journalist, NGO, or other person who wants to keep the answer private until you have written your story or for other reasons, please get in contact with us.</p>

  <h2>I have the response to a request filed directly with an EU body; can I share it here?</h2>
  <p>At the moment we do not upload requests which were made via other means. </p>
  <p>AsktheEU.org is an archive of requests made through the site, and does not aim to be an archive of all requests. One of the reasons we do not support uploading of other requests is that we cannot verify that the responses actually came from an EU body.</p>
  <p>If you want to make the response public, you would need to make the same request again via AskTheEU.org.</p>

  <h2 id="languages">In what language can I make a request?</h2>
  <p>You have a right to ask in any of the 24 official and working languages of the EU: Bulgarian, Croatian, Czech, Danish, Dutch, English, Estonian, Finnish, French, German, Greek, Hungarian, Irish, Italian, Latvian, Lithuanian, Maltese, Polish, Portuguese, Romanian, Slovak, Slovene, Spanish and Swedish.</p>
  <p>In theory they should answer in the language in which you ask but in reality, many documents do not exist in all languages.</p>
  <p>AsktheEU.org currently operates in English, French, German, and Spanish, four of the most widely spoken languages in the EU region. Our team provides support in English, French, and Spanish.</p>
  <p>If you want to be a volunteer translator into other languages, or find a language mistake on the site, <a href="mailto:team@access-info.org">send us an email</a>.</p>


  <h1 id="answers_appeals">Submitting an Appeal</h1>
  <p>If you are not happy with the information you are provided, or if you think you have been unfairly denied access to documents, or parts of documents, you have the right to challenge the EU institution’s decision.</p>
  <p>This is known as a <strong>CONFIRMATORY APPLICATION</strong> in EU jargon.</p>
  <p>You can also submit a confirmatory application when the EU has failed to answer your request within the specified deadline. </p>

  <h2>How do I submit an appeal?</h2>
  <p>Submitting and appeal is very easy. All you need to do is reply to the final response by the EU institution using the AsktheEU.org website. Make sure when you reply to the institution, that you <strong>state clearly that you are filing a confirmatory application</strong> in response to the answer you were given. </p>
  <p>You can also add further details or arguments to strengthen your appeal, but this is not totally necessary. <a href="mailto:mailto:team@asktheeu.org">Do not hesitate to ask us</a> should you feel that you want help in submitting a confirmatory application to the EU institution. </p>

  <h2>How long do I have to submit an appeal?</h2>
  <p>Once you have received a final answer from the EU institution, you have up to 15 working days to submit an appeal (confirmatory application). Check the official decision letter from the EU institution in order to confirm the date from which you will need to send your appeal.</p>

  <h2>What if I am still not happy with the outcome?</h2>
  <p>If you are still not happy with the outcome of your confirmatory application, you have two options for further appeal; the European Ombudsman, or the European Union Court of Justice. </p>
  <p>You can appeal a confirmatory application decision to the <strong>European Ombudsman</strong> for free via the <a href="http://www.ombudsman.europa.eu/home.faces">European Ombudsman website</a>, but the final decision here is not binding upon the EU institutions. </p>
  <p>Decisions made following an appeal to the <strong>European Union Court of Justice</strong> are binding upon EU institutions, but of course, this riskier, more complicated, and a more costly choice – it is not free and comes at the cost of carrying out a court case that may be further appealed and take many years to complete. </p>
</div>
</div>
