<% @title = "Right of Access to EU Documents" %>
<div class="page__header">
  <h1 class="page__header__title">About the Right of Access to EU Documents</h1>
  <h2 class="page__header__subtitle">WELCOME TO ASKTHEEU.ORG!</h2>
</div>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">

<h2>About the Right of Access to EU Documents</h2>

	  <p>EU citizens and residents have the right, protected by law, to ask <b>all</b> EU institutions for documents and to receive answers within 15 working days. </p>
	  <p>The right of access to EU documents is guaranteed by the Treaty on the Functioning of the European Union (Article 15) and by the Charter of Fundamental Rights of the European Union (Article 42). The mechanisms for making documents requests and the rules on exceptions are developed in <b>Regulation 1049/2001</b> regarding access to Parliament, Council and Commission documents – this is the EU’s equivalent of an access to information or freedom of information law.</p>
	  <p>NGOs, businesses and other “legal persons” registered in an EU Member State also have the same right as individuals to ask for documents.</p>
	  <p>The transparency rules apply to the European Commission, the European Parliament, and the Council of the European Union – as well as other offices, bodies, and agencies. For the European Central Bank, the Court of Justice of the European Union, and the European Investment Bank, the right only applies to their administrative functions.</p>

	  <h3>The right to access EU “documents” not information</h3>
	  <p>At the EU level there is a right of access to documents rather than information. In practice there is not much difference, but we include the phrase about documents in requests as otherwise your question might be processed under the Code of Good Administrative Procedure which refers to the “right to information” but does not have the same timelines nor appeals possibilities as the right of access to EU documents. </p>
	  <p>When you formulate your request think about what kind of documents will contain the information you are looking for, such as minutes of meetings, email correspondence, or policy papers, etc. You need to ask for documents because <b>EU officials are not obliged to create a new document</b> in response to a request, but rather must provide you with copies of documents containing the information you are looking for.</p>

	  <h3>What about access to environmental information?</h3>
	  <p>The exception to this is environmental matters where requesters have a more extensive right to information, which is not limited only to “documents”. This is because access to environmental information is covered by an additional legal regime, the Aarhus Directive on public access to environmental information (Directive 2003/4/EC of the European Parliament and of the Council of 28 January 2003 on public access to environmental information and repealing Council Directive 90/313/EEC). </p>
	  <p>At the moment AsktheEU.org does not have the capacity to differentiate general from environmental requests so if you are seeking environmental information, please specify this in your request. </p>

	  <h3>Can I re-use the information I get?</h3>
	  <p>In general, documents created by EU bodies are “public” in the sense that they were created for us, with European tax payer’s money. So you should be free to use the documents which you receive and the information they contain.</p>
	  <p>In case of doubt, especially if you plan to use the material for commercial purposes, ask the EU body that released the information.</p>

	  <h3>Can I ask for information about myself?</h3>
	  <p>You should not use AsktheEU.org to get access to personal information about yourself. If you are asking for information about yourself, use the EU’s Data Protection rules. Click here for more information.</p>

</div>
