<% @title = "Your Right to Know" %>
<div class="page__header">
  <h1 class="page__header__title">Your Right to Know</h1>
  <h2 class="page__header__subtitle">WELCOME TO ASKTHEEU.ORG!</h2>
</div>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">

  <h2>Text coming soon...</h2>
</div>
