body {
  background: steelblue;
}
no { border: 1px solid red; }

html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0;
}


.alaveteli-widget {
  width: 320px;
  height: 215px;
  background: url("widget-base.png") no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  position: relative;
}
.alaveteli-widget__title {
  position: absolute;
  top: 24px;
  left: 22px;
  width: 160px;
  overflow: hidden;
  color: #5a5a5a;
}
.alaveteli-widget__title a {
  text-decoration: none;
  color: #5a5a5a;
}
.alaveteli-widget__status {
  position: absolute;
  top: 113px;
  left: 27px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.alaveteli-widget__left {
  position: absolute;
  width: 145px;
}

.alaveteli-widget__status.waiting_response,
.alaveteli-widget__status.waiting_response_overdue,
.alaveteli-widget__status.waiting_response_very_overdue {
  color: #750096;
}
.alaveteli-widget__status.not_held {
  color: #830016;
}
.alaveteli-widget__status.rejected {
  color: #e62590;
}
.alaveteli-widget__status.successful {
  color: #76b12c;
}
.alaveteli-widget__status.partially_successful {
  color: #559798;
}
.alaveteli-widget__status.waiting_clarification {
  color: #978f0b;
}
.alaveteli-widget__status.gone_postal {
  color: #959191;
}
.alaveteli-widget__status.internal_review {
  color: #7da49b;
}
.alaveteli-widget__status.error_message {
  color: #e57f12;
}
.alaveteli-widget__status.user_withdrawn {
  color: #5b8048;
}

.alaveteli-widget__people-count {
  position: absolute;
  left: 176px;
  top: 33px;
  width: 100px;
  text-align: center;
  line-height: 1.3em;
  color: white;
}
.alaveteli-widget__count {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  font-weight: bold;
}

.alaveteli-widget__bottom a {
  text-decoration: none;
}


.alaveteli-widget__bottom__no-action {
  position: absolute;
  border: none;
  top: 173px;
  left: 8px;
  width: 151px;
  padding: 0.25em;
  height: 28px;
  background: #009699;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  background: #91b85d;
  box-shadow: 0 0 6px 1px #91b85d;
}

.alaveteli-widget__bottom__action {
  position: absolute;
  border: none;
  top: 173px;
  left: 8px;
  width: 151px;
  padding: 0.25em;
  height: 28px;
  background: #009699;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 0 6px 1px #009699;
  box-sizing: border-box;
}

